@import "tailwindcss";

:root {
  /* Paksa browser merender elemen sistem (scroll, input) dalam mode terang */
  color-scheme: light; 
  
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* BAGIAN INI SAYA HAPUS AGAR TIDAK OTOMATIS JADI GELAP */
/* @media (prefers-color-scheme: dark) { ... } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}